body { 
    width: 300px;
    padding: 15px;
    border: solid #333 1px;
    border-radius: 8px;
    background-color: #fffbea;}

  h2 {text-align: center; color: #333;}

  #checkButton {
    background-color: #ffdd57;
    border: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    width: 80%;
  }

  #checkButton:hover {
    background-color: #f1c40f;
  }

  #responseContent {
    padding-top: 15px;
    color: #333;
    text-align: center;
    font-size: 0.95rem;
  }